/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive; */

/* Common */

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

section {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hidden {
    margin: 0;
    color: rgba(255, 0, 0, 1);
    display: none;
}

ul {
    list-style: none;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.title {
    margin: 0;
}

.divider {
    width: 232px;
    height: 41px;
}

.divider-thin {
    width: 247px;
    height: 24px;
}

/* Fonts */

.gentium-book {
    color: rgba(221, 224, 223, 1);
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}

.gentium-book-list {
    font-size: 19px;
    line-height: 1.2;
    text-align: justify;
    color: rgba(221, 224, 223, 1);
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}

.gentium-book-review {
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    color: rgba(221, 224, 223, 1);
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}

.yeseva-one {
    color: rgba(255, 255, 255, 0.922);
    font-weight: lighter;
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

.yeseva-one-title {
    font-weight: lighter;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 36px;
    line-height: 0.667;
    color: rgba(204, 153, 0, 1);
}

.yeseva-one-headline {
    font-size: 83px;
    line-height: 1.35;
    text-align: center;
    color: rgba(255, 255, 255, 0.922);
    font-weight: lighter;
    font-family: 'Yeseva One', cursive;
    text-align: center;   
}

.yeseva-one-price {
    font-size: 21px;
    line-height: 1.143;
    color: rgba(200, 159, 45, 1);
    text-align: justify;
    font-weight: lighter;
    font-family: 'Yeseva One', cursive;
}

.yeseva-one.footer-headline {
    font-size: 21px;
    line-height: 1.143;
    color: rgba(254, 254, 254, 1);
    text-align: center;
}
  
.lato {
    font-size: 18px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}

.lato-item {
    font-size: 17px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}

.lato-description {
    font-size: 16px;
    line-height: 1.54;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    color: rgba(76, 76, 76, 1);
    text-align: center;
}

.open-sans {
    font-size: 14px;
    line-height: 1.2;
    color: rgba(201, 161, 49, 1);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.open-sans.footer-description {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
    text-align: center;
}

/* Header */

header {
    margin: 0;
    padding-bottom: 151px;
    background-image: url(./img/Header/header_bg_shadow.png), url(./img/Header/header_bg.jpg);
    background-color: rgba(44, 44, 44, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header .divider {
    margin-top: 23px;
}

.header-logo-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.logo {
    width: 148px;
    height: 86px;
    margin: 8px 215px 0 0;
}

.website-navigation {
    margin: 0;
    display: flex;
    align-items: center;
}

.website-navigation-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
    padding: 0;
}

.website-navigation-list li {
    letter-spacing: 0.5px;
    padding: 46px 13px 0 13px;
    margin-right: 22px;
}

.website-navigation-list li:hover {
    background: rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.71) 3%, rgba(0,0,0,0) 3%);
}

.website-navigation-list li:last-child {
    margin-right: 0;
}

.header-socials-list {
    display: flex;
    align-items: center;
    margin: 22px 0 0 0;
    padding: 0;
}

.header-socials-list a {
    color: rgba(204, 153, 0, 1);
    font-size: 18px;
    margin-right: 14px;
}

.header-headline {
    letter-spacing: 1.2px;
    margin: 108px auto 0 auto;
    padding: 0;
    width: 1000px;
}

.booking-list {
    padding: 0;
    margin: 46px auto 0 auto;
    display: flex;
    justify-content: center;
}

.booking-list li:first-child {
    margin-right: 31px;
}

.booking-list-link {
    box-sizing: border-box;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.702);
    text-transform: uppercase;
    padding: 15px 47px 15px 47px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.booking-list-link:hover {
    background-color: rgba(255, 255, 255, 0.278);
    border-color: rgba(255, 255, 255, 1);
}

  
/* About the restaurant  */

.about-restaurant {
    background-image: url(./img/decoration/pattern.png), url(./img/decoration/bg.jpg);
    background-color:rgba(255, 255, 255, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-restaurant-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 470px;
    margin-left: 70px;
}

.about-restaurant-title {
    margin: 0;
}

.about-restaurant-description {
    margin: 0;
}

.picture-chef {
    width: 219px;
    height: 221px;
    align-self: center;
    margin: 30px 0 0 60px;
}

.picture-dish {
    margin: 50px 0 0 0;
    width: 621px;
    height: 625px;
}

/* About the ingredients */

.about-ingredients {
    background-image: url(./img/Ingridients/ingr_bg.jpg);
    background-color: rgba(75, 116, 0, 1);
    padding: 93px 0 68px 0;
    display: flex;
    justify-content: center;
}

.ingredients-container {
    margin: 0 0 0 600px;
    box-sizing: border-box;
    width: 570px;
    height: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:rgba(0, 0, 0, 0.67);
}

.ingredients-container .yeseva-one-title {
    margin: 80px 0 0 0;
    color: rgba(255, 255, 255, 1);
}

.ingredients-container .divider-thin {
    margin: 22px 0 0 0;
}

.ingredients-container p {
    line-height: 1.55;
    text-align: center;
    margin: 20px 70px 0 70px;
    color: rgba(255, 255, 255, 0.922);
}
.ingredients-picutre-list {
    margin: 58px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingredients-picutre-list li {
    margin-right: 25px;
}

.ingredients-image {
    height: 110px;
    width: 110px;
}

/* Restaurant menu */

.restaurant-menu {
    padding-bottom: 62px;
    background-image: url(./img/decoration/pattern_menu.png), url(./img/decoration/background_menu.jpg);
    background-color:rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: 50% 50%;
}

table {
    border-collapse: collapse;
    width: 105%;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-decoration {
    justify-content: center;
    margin: 0 0 10px 0;
}

.menu-title {
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.price {
    padding-bottom: 7px;
    margin: 0 0 7px 0;
    border: 1px;
    border-style: none none solid none;
    border-color: rgba(200, 159, 45, 1);
}

.menu-description {
    padding: 0 0 26px 0;
}

.appetisers-salads {
    margin: 103px 100px 0 auto;
}

.appetisers {
    margin: 0 0 35px 0;
}

.startes-main-dishes {
    margin: 103px auto 0 78px;
}

.startes {
    margin: 0 0 35px 0;
}

.special {
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.special::before {
    padding: 5px 10px;
    margin: -5px -10px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(204, 153, 0, 0.2) 20%, rgba(204, 153, 0, 0.8) 80%);
    border-image-slice: 1;

}

.special::after {
    content: "Special";
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    background-image: url(./img/decoration/special-background.png);
    padding: 2px 12px;
    position: absolute;
    right: -12px;
    bottom: 72px;
}

/* Guest reviews */

.guest-reviews {
    background-image: url(./img/Quote/quote_bg.jpg);
    background-color: rgba(184, 98, 0, 1);
    padding: 100px 0 100px 0;
}

.reviews-container {
    margin: 0 auto;
    width: 770px;
    height: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.85)
}

.food-inc-quote {
    margin: 0;
    position: relative;
}

.food-inc-quote .gentium-book-review {
    margin: 35px 70px 0 70px;
}

.reviews-container .yeseva-one-title {
    line-height: 1.2;   
    color: rgba(255, 255, 255, 1);
    margin: 80px 0 0 0;
}

.reviews-container .divider-thin {
    margin: 22px 0 0 0;
}

.quote-sign {
    position: absolute;
    font-size: 96px;
    left: 25px;
    top: 10px;
    color: rgba(242, 244, 244, 0.471);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0;
}   

.review-br {
    display: block; 
    content: ""; 
    margin-bottom: 20px;
 }

/* Reservations */

.reservations {
    background-image: url(./img/decoration/pattern.png), url(./img/decoration/bg.jpg);
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    padding: 84px 285px 83px 175px;
}

.reservations ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.reservations-img-one {
    margin-right: 30px;
}

.reservations-img-two {
    margin-right: 100px;
}

.reservations-group {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reservations .title {
    margin-bottom: 73px;
}

.reservations .description {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}
.reservations .list {
    margin: 0;
}

.book-table {
    padding: 27px 0 0 0;
    margin: 0 0 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.email-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.date-input {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.date-input .open-sans {
    margin-bottom: 4px;
}

.number-input {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.number-input .open-sans {
    margin-bottom: 4px;
    padding-left: 1px;
}

#party-number {
    height: 36px;
    width: 200px;
}

#date {
    height: 32px;
    width: 195px;
}

label {
    margin-bottom: 7px;
}

input {
    height: 30px;
    width: 192px;
}

button {
    height: 36px;
    width: 202px;
}

/* Footer */

footer {
    margin: 0;
    background-image: url(./img/Footer/footer_bg.jpg);
    background-color: rgba(25, 25, 25, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 58px 0 53px 0;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer-list .item {
    color: rgba(255, 255, 255, 1);
}

.about-us {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 0 0 0 162px;
    margin: 0;
}

.about-us .footer-headline {
    padding-left: 27px;
    margin: 0;
}

.about-us p {
    margin: 0;
    padding: 52px 40px 0 64px;
}

.opening-hours {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.33%;
    padding: 0 0 0 90px;
}

.opening-hours .footer-headline {
    padding-left: 22px;
    margin: 0;
}

.opening-hours p {
    margin: 0;
    padding-top: 53px;
}

.opening-hours-list {
    padding-left: 44px;
    padding-top: 51px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opening-hours .item {
    text-decoration: none;
    margin-right: 15px;
}

.our-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33.33%;
}

.our-location span {
    margin: 0 0 65px 0;
}

.our-location p {
    margin: 0 0 55px 0;
}

.our-location .socials {
    margin: 0;
}

.our-location .item {
    margin: 0 10px 0 0;
}